<launch>

   <node name = "pub_sub31" pkg = "dwa_orca" type = "pub_sub" output = "screen">
    <param name="target_model_name" type="string" value="model2.1" />
    <param name="target_model/twist_linear_x" type="double" value="0.3" />
    <param name="target_model/twist_angular_z" type="double" value="1.0" />
    <param name="neighbor_distance" type="double" value="2.0" />
    <param name="time_horizon" type="double" value="2.0" />
    <param name="radius_" type="double" value="1.2" />
    <param name="goal_pose_x" type="double" value="9.6" />
    <param name="goal_pose_y" type="double" value="-4.8" />
    <param name="goal_pose_z" type="double" value="0.5" />
    <param name="time" type="double" value="0.2" />
    <param name="max_speed" type="double" value="7.0" />
    <param name="max_angular_speed" type="double" value="3" />
    <param name="max_linear_speed" type="double" value="3" />
    <param name="num" type="double" value="10" />
  </node>
</launch>